.App {
  width: 99vw;
  height: 2000px;
  text-align: center;
  background-color: white;
  z-index: 999;
}
.App-box {
  width: 99vw;
  height: 2000px;
  text-align: center;
  background-color: white;
}

